<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Navajo"
            id="com.dexels.navajo.dependency">
      </category>
      <view
            name="Navajo Dependency Analyzer"
            icon="icons/sample.gif"
            category="com.dexels.navajo.dependency"
            class="com.dexels.navajo.dependency.views.CallHierarchyView"
            id="com.dexels.navajo.dependency.views.CallHierarchyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.dexels.navajo.dependency.views.CallHierarchyView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
