<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Navajo"
            id="com.dexels.navajo.dev.dependency">
      </category>
      <view
            name="Navajo Dependency Analyzer"
            icon="icons/sample.gif"
            category="com.dexels.navajo.dev.dependency"
            class="com.dexels.navajo.dev.dependency.views.CallHierarchyView"
            id="com.dexels.navajo.dev.dependency.views.CallHierarchyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.dexels.navajo.dev.dependency.views.CallHierarchyView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
      		adaptable="true"
      		lightweight="true"
    		location="BOTTOM_LEFT"
            class="com.dexels.navajo.dev.dependency.decorator.NavajoLightweightDecorator"
            id="com.dexels.navajo.dev.dependency.decorator"
            label="Navajo Broken Dependencies"
            state="true">
         <enablement>
     	     <objectClass name="org.eclipse.core.resources.IResource"/> 
     	 </enablement>  
     	 <description>
      		Adds an icon decoration to Navajo scripts that contain broken references
    	</description> 
      </decorator>
</extension>

</plugin>
